.contactSection {
    width: 100%;
    height: 900px;
    background-color: bisque;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
}

.contactTitle {
    width: 100%;
    height: 13%;
    font-size: 60px;
    line-height: 160px;
    padding-left: 50px;
}

.contactWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkPage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.linkPage img {
    width: 50px;
    height: 50px;
}

.linkPage a img {
    width: 100%;
    height: 100%;
}

.linkPage img:hover {
    cursor: pointer;
    transition: all 0.3s linear;
    transform: scale(1.1);
}

.upBtn {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upBtn img {
    height: 30%;
    transform: rotate(-90deg);
}

.upBtn img:hover, .upBtn span:hover {
    cursor: pointer;
}